/* estilos gerais */
html,
body,
h1,
h2,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
/* header */
header {
  background: var(--cor-1);
}
.header {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header a {
  display: inline-block;
  padding: 16px 0px;
}
.header a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 4px;
  transition: 0.3s;
}

.header a:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
}

.header div ul {
  display: flex;
  gap: 10px;
}

/* corpo */

.principal-bg {
  background: var(--cor-2);
  box-shadow: inset 0 -50px 0 0 var(--cor-6);
}

.banner {
  display: flex;
  gap: 30px;
}

.banner img {
  width: 100vw;
  object-fit: cover;
}
.banner h1 {
  line-height: 1.2;
}

.beneficios {
  padding-top: 100px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.beneficios-bg {
  height: 2400px;
  background: var(--cor-6);
}

.beneficios-conteudo ul {
  display: flex;
  align-self: content;
  flex-direction: column;
  gap: 36px;
  flex-wrap: wrap;
}

.beneficios-conteudo ul li h2 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.beneficios-conteudo ul li h2::after {
  content: "";
  background: url(../img/icons/ok-icon.svg) no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}

.beneficios-conteudo ul li p {
  padding-left: 20px;
  max-width: 36ch;
}

.beneficios-dec span {
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .banner {
    flex-direction: column;
  }
  .banner h1 {
    text-align: center;
  }
  .banner img {
    margin: 0 auto;
    max-width: 80vw;
  }
}

@media (max-width: 900px) {
  .beneficios {
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
  }

  .beneficios-dec {
    text-align: center;
  }

  .beneficios-dec img {
    margin: 0 auto;
  }
}
